<div class="container">
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
         style="position:fixed; top:0; left:0; right:0; z-index: 99;">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/favicon.ico"> Autumn Framework</a>
            <ul class="mr-2 navbar-nav">
                <li class="nav-item">
                    <a href="https://github.com/NuclearMissile/autumn" target="_blank" class="nav-link"><i
                            class="bi bi-file-earmark-text"></i> Source</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>