<footer class="p-4 mt-4 bg-light border-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-4">Autumn Framework</div>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Check the source code on
                        <a target="_blank" href="https://github.com/NuclearMissile/autumn">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>