<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">　　　
        <file>autumn-hello.log</file>　　　　
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">　　　　　　　　　　
            <fileNamePattern>autumn-hello.%i.log.zip</fileNamePattern>　　　　　　　　　　
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>　　　　　　
        </rollingPolicy>
        　　　　　
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">　　　　　　　　　　
            <maxFileSize>5MB</maxFileSize>　　　　　　
        </triggeringPolicy>
        　　　　　
        <encoder>　　　　　　　　　
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>　　　　　　
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_INFO"/>
    </root>
</configuration>